<div id="wpsExecuteInputsContainer" align="left">

	<div class="row" id="executeInputChoose">
		
		<div class="col-sm-6">
			<!-- simple list of available inputs -->
			<div ng-if="$ctrl.wpsExecuteInputServiceInstance.unconfiguredExecuteInputs.length > 0">
				<label align="left">{{ 'wpsExecute.inputSetup.chooseWpsInput' |
					translate }} <span class="badge">{{$ctrl.wpsExecuteInputServiceInstance.unconfiguredExecuteInputs.length}}</span></label> 
		
				<div class="btn-group">
        		    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
         	 	      {{'wpsExecute.inputSetup.selectWpsExecuteInputPlaceholder' | translate }} 
          	 	     <span class="caret"></span>
          	 	 </button>
          	 	 <ul class="dropdown-menu list-inline" role="menu" >
          	 	     <li ng-repeat="unconfiguredInput in $ctrl.wpsExecuteInputServiceInstance.unconfiguredExecuteInputs" 
          	 	     	ng-click="$ctrl.onChangeExecuteInput(unconfiguredInput)">
         	 	          <a href="#">{{unconfiguredInput.title}} <span ng-if="unconfiguredInput.minOccurs > 0" class="glyphicon glyphicon-asterisk"></span></a>  
        	 	       </li>
      	     	 </ul>
     	  	 </div>
     	   
     	   </div>
        
        </div>
        
        <!-- list with already configured Inputs! They can be clicked and modified also! -->
        <div class="col-sm-6">
        
        	<div ng-if="$ctrl.wpsExecuteInputServiceInstance.alreadyConfiguredExecuteInputs.length > 0">
       		 <label align="left">{{ 'wpsExecute.inputSetup.alreadyConfiguredInputs' |
					translate }} <span class="badge">{{$ctrl.wpsExecuteInputServiceInstance.alreadyConfiguredExecuteInputs.length}}</span></label> 
		
				<div >
       	   			 <select class="form-control" ng-model="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput" 
       	     			ng-options="configuredInput as configuredInput.title for configuredInput in $ctrl.wpsExecuteInputServiceInstance.alreadyConfiguredExecuteInputs" 
       	     			ng-change="$ctrl.onChangeAlreadyDefinedExecuteInput()" required>
						<option value="" selected hidden>{{
							'wpsExecute.inputSetup.alreadyConfiguredInputsPlaceholder' | translate }}</option>
						<option ng-repeat="configuredInput in $ctrl.wpsExecuteInputServiceInstance.alreadyConfiguredExecuteInputs" ></option>
					</select>
      	 		 </div>
      	  
      	  	</div>
        </div>
        
        
	
	</div> <!-- end row -->
	
	<!-- depending on the type of the input, a different subelement for configuration will be displayed -->

	<!-- literalData -->
	<div class="well well-sm" ng-if="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.literalData">
		<h4><b>{{'wpsExecute.inputSetup.literalData.inputHeader' | translate}}</b></h4>
		<div class="form-group">
  			
  			<label>{{'wpsExecute.inputSetup.inputTitle' | translate}}</label>
  			<p>{{$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.title}}</p>
  			
  			<label>{{'wpsExecute.inputSetup.inputIdentifier' | translate}}</label>
  			<p>{{$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.identifier}}</p>
  			
  			<label>{{'wpsExecute.inputSetup.literalData.literalInputValue' | translate}}</label>
  			<input type="text" class="form-control" ng-change="$ctrl.onLiteralInputChange()" ng-model="$ctrl.wpsExecuteInputServiceInstance.literalInputValue" placeholder="{{'wpsExecute.inputSetup.literalData.literalInputValuePlaceholder' | translate}}">
  			
  			<div align="center">
  				<p></p>
  				<button  type="button" ng-click="$ctrl.addLiteralInput()" ng-disabled="$ctrl.literalInputButtonDisabled" class="btn btn-info">{{'wpsExecute.inputSetup.createInput' | translate}}</button>
			</div>
		</div>
	</div>
	
	<!-- complexData -->
	<div class="well well-sm" ng-if="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.complexData">
		<h4><b>{{'wpsExecute.inputSetup.complexData.inputHeader' | translate}}</b></h4>
		
		<div class="form-group">
  			
  			<label>{{'wpsExecute.inputSetup.inputTitle' | translate}}</label>
  			<p>{{$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.title}}</p>
  			
  			<label>{{'wpsExecute.inputSetup.inputIdentifier' | translate}}</label>
  			<p>{{$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.identifier}}</p>

  					<label>{{'wpsExecute.inputSetup.complexData.selectMimeType' | translate}}</label>
  					<select class="form-control" ng-model="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInputFormat" ng-options="format as format.mimeType for format in $ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.complexData.formats" required>
						<option value="" selected hidden>{{
							'wpsExecute.inputSetup.complexData.selectMimeTypePlaceholder' | translate }}</option>
						<option ng-repeat="format in $ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.complexData.formats"  ></option>
					</select>
					
					<p></p>
  				
  					<div ng-if="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInputFormat.schema">
  						
  						<label>{{'wpsExecute.inputSetup.complexData.schema' | translate}}</label>
  						<p>{{$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInputFormat.schema}}</p>
  					</div>
  					
  					<div ng-if="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInputFormat.encoding">
  						<label>{{'wpsExecute.inputSetup.complexData.encoding' | translate}}</label>
  						<p>{{$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInputFormat.encoding}}</p>
  					</div>
  						
  						
  					<div ng-if="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInputFormat">
  						<div class="checkbox">
  							<label><input type="checkbox" ng-model="$ctrl.wpsExecuteInputServiceInstance.asReference">{{'wpsExecute.inputSetup.complexData.asReference' | translate}}</label>
						</div>
  					</div>
  					
  					<div ng-if="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInputFormat">
  						<div ng-if="$ctrl.wpsExecuteInputServiceInstance.asReference === false">
  							<label>{{'wpsExecute.inputSetup.complexData.textAreaInput' | translate}}</label>
  							<textarea class="form-control" rows="5" ng-model="$ctrl.wpsExecuteInputServiceInstance.complexPayload" ng-change="$ctrl.onComplexPayloadChange()" placeholder="{{'wpsExecute.inputSetup.complexData.textAreaPlaceholder' | translate}}"></textarea>
  						</div>
  						
  						<div ng-if="$ctrl.wpsExecuteInputServiceInstance.asReference">
  							<label>{{'wpsExecute.inputSetup.complexData.referenceInput' | translate}}</label>
  							<input class="form-control" type="text" ng-model="$ctrl.wpsExecuteInputServiceInstance.complexPayload" ng-change="$ctrl.onComplexPayloadChange()" placeholder="{{'wpsExecute.inputSetup.complexData.referencePlaceholder' | translate}}"></input>
  						</div>
  					</div>
  					
  					
  			
  			<div align="center">
  				<p></p>
  				<button  type="button" ng-click="$ctrl.addComplexInput()" ng-disabled="$ctrl.complexInputButtonDisabled" class="btn btn-info">{{'wpsExecute.inputSetup.createInput' | translate}}</button>
			</div>
		</div>
	</div>
	
	<!-- boundingBoxData -->
	<div class="well well-sm" ng-if="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.boundingBoxData">
		<h4><b>{{'wpsExecute.inputSetup.boundingBoxData.inputHeader' | translate}}</b></h4>
		
		<div class="form-group">
  			
  			<label>{{'wpsExecute.inputSetup.inputTitle' | translate}}</label>
  			<p>{{$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.title}}</p>
  			
  			<label>{{'wpsExecute.inputSetup.inputIdentifier' | translate}}</label>
  			<p>{{$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.identifier}}</p>
  			
  			<label>{{'wpsExecute.inputSetup.boundingBoxData.crs' | translate}}</label>
  			<select class="form-control" ng-model="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInputCrs"  required>
				<option value="" selected hidden>{{
					'wpsExecute.inputSetup.boundingBoxData.selectCrsPlaceholder' | translate }}</option>
				<option ng-repeat="crs in $ctrl.wpsExecuteInputServiceInstance.selectedExecuteInput.boundingBoxData.supportedCRSs" >{{crs}}</option>
			</select>
				
			<p></p>
  			
  			<div ng-if="$ctrl.wpsExecuteInputServiceInstance.selectedExecuteInputCrs">
  				<label>{{'wpsExecute.inputSetup.boundingBoxData.lowerCorner' | translate}}</label>
  				<input type="text" class="form-control" ng-model="$ctrl.wpsExecuteInputServiceInstance.bboxLowerCorner" placeholder="{{'wpsExecute.inputSetup.boundingBoxData.lowerCornerPlaceholder' | translate}}">
  			</div>
  			
  			<div ng-if="$ctrl.wpsExecuteInputServiceInstance.bboxLowerCorner">
  				<label>{{'wpsExecute.inputSetup.boundingBoxData.upperCorner' | translate}}</label>
  				<input type="text" class="form-control" ng-model="$ctrl.wpsExecuteInputServiceInstance.bboxUpperCorner" ng-change="$ctrl.onUpperCornerChange()" placeholder="{{'wpsExecute.inputSetup.boundingBoxData.upperCornerPlaceholder' | translate}}">
  			</div>
  			
  			<div align="center">
  				<p></p>
  				<button  type="button" ng-click="$ctrl.addBoundingBoxInput()" ng-disabled="$ctrl.boundingBoxInputButtonDisabled" class="btn btn-info">{{'wpsExecute.inputSetup.createInput' | translate}}</button>
			</div>
		</div>
		
	</div>

	</div>