<div>
	<!-- list with selectable languages -->
	<label align="left">{{ 'wpsSetup.changeLanguage' | translate }}</label>
	
	<select ng-model="$ctrl.selectedLanguage"
		ng-options="language as language.name for language in $ctrl.availableLanguages"
		ng-change="$ctrl.changeWpsLanguage()" class="form-control" required>
		<option value="" selected hidden>{{
			'wpsSetup.selectWpsLanguagePlaceholder' | translate }}</option>
		<option ng-repeat="language in $ctrl.availableLanguages"></option>
	</select>

</div>
