<div id="wpsExecuteParamatersContainer" align="left">

	<label align="left">{{
		'wpsExecute.parametersSetup.jobControlOptions' | translate }}</label>

	<div>
		<select class="form-control"
			ng-model="$ctrl.wpsPropertiesServiceInstance.executeRequest.executionMode" 
			ng-options="executionMode for executionMode in $ctrl.wpsPropertiesServiceInstance.processDescription.jobControlOptions"
			>
		</select>
	</div>

	<br/>

	<label align="left">{{
		'wpsExecute.parametersSetup.responseFormat' | translate }}</label>

	<div>
		<select class="form-control"
			ng-model="$ctrl.wpsPropertiesServiceInstance.executeRequest.responseFormat"
			ng-options="responseFormat for responseFormat in $ctrl.wpsPropertiesServiceInstance.responseFormats"
			>
		</select>
	</div>

</div>
