<div class="panel-group" id="wpsProcessInputsAccordion">
	<div class="panel panel-default" ng-if="($ctrl.wpsPropertiesServiceInstance.processDescription.process.inputs | filter: $ctrl.wpsInputOutputFilterServiceInstance.hasLiteralData).length > 0">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse"
					data-parent="#wpsProcessInputsAccordion"
					href="#wpsLiteralInputsCollapse">{{
					'wpsInputOutput.literalInputs' |
					translate}}</a>
			</h4>
		</div>
		<div id="wpsLiteralInputsCollapse"
			class="panel-collapse collapse">
			<div class="panel-body">

				<wps-literal-inputs></wps-literal-inputs>

			</div>
		</div>
	</div>
	<div class="panel panel-default" ng-if="($ctrl.wpsPropertiesServiceInstance.processDescription.process.inputs | filter: $ctrl.wpsInputOutputFilterServiceInstance.hasComplexData).length > 0">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse"
					data-parent="#wpsProcessInputsAccordion"
					href="#wpsComplexInputsCollapse">{{
					'wpsInputOutput.complexInputs' | translate}}</a>
			</h4>
		</div>
		<div id="wpsComplexInputsCollapse" class="panel-collapse collapse">
			<div class="panel-body">

				<wps-complex-inputs></wps-complex-inputs>

			</div>
		</div>
	</div>
	<div class="panel panel-default" ng-if="($ctrl.wpsPropertiesServiceInstance.processDescription.process.inputs | filter: $ctrl.wpsInputOutputFilterServiceInstance.hasBoundingBoxData).length > 0">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse"
					data-parent="#wpsProcessInputsAccordion"
					href="#wpsBboxInputsCollapse">{{
					'wpsInputOutput.bboxInputs' |
					translate}}</a>
			</h4>
		</div>
		<div id="wpsBboxInputsCollapse" class="panel-collapse collapse">
			<div class="panel-body">

				<wps-bounding-box-inputs></wps-bounding-box-inputs>

			</div>
		</div>
	</div>
</div>