<div class="container-fluid">
	<div class="row wps-ui">
		<ul class="nav nav-pills nav-justified">
			<li class="active"><a data-toggle="tab" href="#home">WPS Setup</a></li>
			<li><a data-toggle="tab" href="#capabilities">Capabilities</a></li>
			<li><a data-toggle="tab" href="#processes">Processes</a></li>
			<li><a data-toggle="tab" href="#execute">Execute</a></li>
			<li><a data-toggle="tab" href="#getStatus">GetStatus</a></li>
			<li><a data-toggle="tab" href="#getResult">GetResult</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<h3>WPS Setup and Definition</h3>
				<p>Some content.</p>
			</div>
			<div id="capabilities" class="tab-pane fade">
				<h3>WPS Capabilities</h3>
				<p>Some content.</p>
			</div>
			<div id="processes" class="tab-pane fade">
				<h3>WPS Process Descriptions</h3>
				<p>Some content.</p>
			</div>
			<div id="execute" class="tab-pane fade">
				<h3>Perform WPS Execute Requests</h3>
				<p>Some content.</p>
			</div>
			<div id="getStatus" class="tab-pane fade">
				<h3>Perform WPS GetStatus Requests - not usable with WPS 1.0</h3>
				<p>Some content.</p>
			</div>
			<div id="getResult" class="tab-pane fade">
				<h3>Perform WPS GetResult Requests - not usable with WPS 1.0</h3>
				<p>Some content.</p>
			</div>
		</div>

	</div>
</div>