<div>
	<h3 class="justify" align="center">{{ 'wpsProcesses.header' |
		translate }}</h3>

	<p align="center">{{ 'wpsProcesses.description' | translate }}</p>


	<div id="wpsProcessesContainer" align="left">
		<!-- only show available processes and details about a selected process (once a process has been selected). Configuration of execute options is done in Execute tab  -->

		<!-- simple list of available processes -->
		<label align="left">{{ 'wpsProcesses.chooseWpsProcess' |
			translate }}</label> <select
			ng-model="$ctrl.wpsPropertiesServiceInstance.selectedProcess" ng-options="process as process.title for process in $ctrl.wpsPropertiesServiceInstance.capabilities.processes"
			ng-change="$ctrl.changeWpsProcess()" class="form-control" required>
			<option value="" selected hidden>{{
				'wpsProcesses.selectWpsProcessPlaceholder' | translate }}</option>
			<option
				ng-repeat="process in $ctrl.wpsPropertiesServiceInstance.capabilities.processes"></option>
		</select>

		<!-- result from executed describeProcess request, which is sent as soon as a process is selected -->

		<wps-process-description></wps-process-description>

		<p></p>
		<!-- div for describeProcess failed messages! -->
		<div
			class="alert alert-danger {{$ctrl.wpsFormControlServiceInstance.describeProcessFailed_classAttribute}}">
			<strong>{{'wpsProcesses.describeProcessFailed_short' | translate}}!</strong>
			{{'wpsProcesses.describeProcessFailed_text' | translate}}
			<p></p>
			<p>
				<strong>{{'wpsProcesses.describeProcessFailed_errorThrown' |
					translate}}</strong>{{$ctrl.wpsFormControlServiceInstance.describeProcessFailed_errorThrown}}
			</p>
		</div>

		<!-- div for capabilities success messages! -->
		<div
			class="alert alert-success {{$ctrl.wpsFormControlServiceInstance.describeProcessSuccess_classAttribute}}">
			<strong>{{'wpsProcesses.describeProcessSuccess_short' |
				translate}}!</strong> {{'wpsProcesses.describeProcessSuccess_text' | translate}}
		</div>

	</div>


</div>
