<div id="addWpsModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{'wpsSetup.wpsAddServiceModal.title' |
					translate}}</h4>
			</div>
			<div class="modal-body">
				<p>{{'wpsSetup.wpsAddServiceModal.description' | translate}}</p>

				<form role="form">
					<div class="form-group {{$ctrl.inputFormColor_classAttribute}}">
						<label class="control-label">{{'wpsSetup.wpsAddServiceModal.inputText' | translate}}</label> 
						<input
							ng-model="$ctrl.temporaryWpsURL" ng-change="$ctrl.onChangeText()" type="text" class="form-control"
							placeholder="{{'wpsSetup.wpsAddServiceModal.placeholder' | translate}}">
						</input>
					</div>
					<button ng-click="$ctrl.tryAddNewWpsServiceUrl()" ng-disabled="$ctrl.isDisabled" type="submit"
						class="btn btn-success {{$ctrl.addNewWpsServiceButton_classAttribute}}">{{'wpsSetup.wpsAddServiceModal.submit'
						| translate}}</button>
				</form>
				
				<p></p>
				<!-- div for alert messages! -->
				<div class="alert alert-danger {{$ctrl.alertMessage_classAttribute}}">
				<strong>{{'wpsSetup.wpsAddServiceModal.alert_short' | translate}}!</strong> {{'wpsSetup.wpsAddServiceModal.alert_unvalidUrl' | translate}}	
				</div>

				<!-- div for success messages! -->
				<div class="alert alert-success {{$ctrl.successMessage_classAttribute}}">
				<strong>{{'wpsSetup.wpsAddServiceModal.success_short' | translate}}!</strong> {{'wpsSetup.wpsAddServiceModal.success_text' | translate}}	
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{'wpsSetup.wpsAddServiceModal.close'
					| translate}}</button>
			</div>
		</div>

	</div>
</div>