<div class="container-fluid">
	<div class="row wps-ui">
		<ul class="nav nav-pills nav-justified">
			<li class="active"><a data-toggle="tab" href="#setup" >{{ 'controls.setupTabName' | translate }}</a></li>
			<li class="{{$ctrl.formControlServiceInstance.capabilitiesTab_classAttribute}}"><a data-toggle="{{$ctrl.formControlServiceInstance.capabilitiesTab_dataToggleAttribute}}" href="#capabilities">{{ 'controls.capabilitiesTabName' | translate }}</a></li>
			<li class="{{$ctrl.formControlServiceInstance.processesTab_classAttribute}}"><a data-toggle="{{$ctrl.formControlServiceInstance.processesTab_dataToggleAttribute}}" href="#processes">{{ 'controls.processesTabName' | translate }}</a></li>
			<li class="{{$ctrl.formControlServiceInstance.executeTab_classAttribute}}"><a data-toggle="{{$ctrl.formControlServiceInstance.executeTab_dataToggleAttribute}}" href="#execute">{{ 'controls.executeTabName' | translate }}</a></li>
			<li class="{{$ctrl.formControlServiceInstance.getStatusTab_classAttribute}}"><a data-toggle="{{$ctrl.formControlServiceInstance.getStatusTab_dataToggleAttribute}}" href="#getStatus">{{ 'controls.getStatusTabName' | translate }}</a></li>
			<li class="{{$ctrl.formControlServiceInstance.getResultTab_classAttribute}}"><a data-toggle="{{$ctrl.formControlServiceInstance.getResultTab_dataToggleAttribute}}" href="#getResult">{{ 'controls.getResultTabName' | translate }}</a></li>
		</ul>

		<div class="tab-content">
			<div id="setup" class="tab-pane fade in active">
				<wps-setup></wps-setup>				
			</div>
			<div id="capabilities" class="tab-pane fade">
				<h3>WPS Capabilities</h3>
				<p>content</p>
			</div>
			<div id="processes" class="tab-pane fade">
				<h3>WPS Process Descriptions</h3>
				<p>Some content.</p>
			</div>
			<div id="execute" class="tab-pane fade">
				<h3>Perform WPS Execute Requests</h3>
				<p>Some content.</p>
			</div>
			<div id="getStatus" class="tab-pane fade">
				<h3>Perform WPS GetStatus Requests - not usable with WPS 1.0</h3>
				<p>Some content.</p>
			</div>
			<div id="getResult" class="tab-pane fade">
				<h3>Perform WPS GetResult Requests - not usable with WPS 1.0</h3>
				<p>Some content.</p>
			</div>
		</div>

	</div>
</div>