<div>
    <h3 class="justify" align="center">{{ 'wpsSetup.header' |
		translate }}</h3>

    <p align="center">{{ 'wpsSetup.description' | translate }}</p>

    <div id="ChangeLanguageContainer">
        <wps-change-language></wps-change-language>
    </div>


    <div id="wpsSetupContainer" align="left">

        <div class="loading-overlay ng-hide" ng-show="loadingData">
            <span class="glyphicon glyphicon-refresh icon-spin"></span>
        </div>

        <form role="form">
            <div class="form-group">
                <label for="wps" align="left">{{ 'wpsSetup.chooseWps' |
					translate }}</label> 
                <select id="wpsSelect"
                        ng-model="$ctrl.wpsPropertiesServiceInstance.selectedServiceUrl"
                        ng-options="wpsService for wpsService in $ctrl.wpsPropertiesServiceInstance.availableWpsServices"
                        ng-change="$ctrl.changeWpsUrl()" class="form-control">
                    <option id="testOption" value='' selected disabled>{{
                        'wpsSetup.selectWpsPlaceholder' | translate }}</option>
                </select>
                <p></p>
                <div align="center">
                    <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#addWpsModal">{{ 'wpsSetup.addWpsButton' |
						translate }}</button>
                    <button type="button" ng-disabled="$ctrl.isRemoveButtonDisabled" ng-click="$ctrl.removeSelectedWps()" class="btn btn-danger {{$ctrl.wpsFormControlServiceInstance.removeWpsServiceButton_classAttribute}}">{{
                        'wpsSetup.removeWpsButton' | translate }}</button>
                </div>
            </div>
            <div class="form-group">
                <label>{{ 'wpsSetup.chooseVersion' | translate }}</label> <label
                    class="radio-inline"> <input id="wpsVersion1" type="radio"
                                             ng-model="$ctrl.wpsPropertiesServiceInstance.serviceVersion"
                                             ng-change="$ctrl.changeVersion()" value="1.0.0" name="wpsVersion">1.0.0</input>
                </label> <label class="radio-inline"> <input id="wpsVersion2"
                                                             type="radio"
                                                             ng-model="$ctrl.wpsPropertiesServiceInstance.serviceVersion"
                                                             ng-change="$ctrl.changeVersion()" value="2.0.0" name="wpsVersion">2.0.0</input>
                </label>
            </div>

            <p></p>
            <!-- div for capabilities failed messages! -->
            <div class="alert alert-danger {{$ctrl.wpsFormControlServiceInstance.capabilitiesFailed_classAttribute}}">
                <strong>{{'wpsSetup.capabilitiesFailed_short'| translate}}!</strong> {{'wpsSetup.capabilitiesFailed_text'| translate}}	
                <p></p>
                <p><strong>{{'wpsSetup.capabilitiesFailed_errorThrown'| translate}}</strong>{{$ctrl.wpsFormControlServiceInstance.capabilitiesFailed_errorThrown}}</p>
            </div>

            <!-- div for capabilities success messages! -->
            <div class="alert alert-success {{$ctrl.wpsFormControlServiceInstance.capabilitiesSuccess_classAttribute}}">
                <strong>{{'wpsSetup.capabilitiesSuccess_short'| translate}}!</strong> {{'wpsSetup.capabilitiesSuccess_text'| translate}} 
            </div>


            <!-- Modal -->
            <wps-add-service-modal></wps-add-service-modal>

        </form>
    </div>


</div>
